.container {
  background-image: url('../../../public/background-images/btc-tradingview-blur4.png');
  background-attachment: fixed;
  background-size: cover;

  width: 100%;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.centerContainer {
  justify-content: center;
}
