.coinsUntilDate {
  margin-bottom: 20px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

@media screen and (max-width: 400px) {
  .buttonsContainer {
    flex-direction: column;
    align-items: center;
  }
}
