.container {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 770px) {
  .titlesContainer {
    display: flex;
  }
  .container:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 770px) {
  .container:not(:last-child) {
    margin-right: 20px;
  }
}
