@use '../../../shared/styles/Variables.module.scss' as variables;

.container {
  position: relative;
  z-index: 1;
}
.searchContainer {
  position: absolute;
  padding: 8px;
  border-radius: 4px;
}

.searchDarkContainer {
  background: rgba(48, 48, 48);
  border-left: 2px solid variables.$primary-dark;
  border-bottom: 2px solid variables.$primary-dark;
  border-right: 2px solid variables.$primary-dark;
}

.searchLightContainer {
  background: rgba(255, 255, 255);
  border-left: 2px solid variables.$primary-light;
  border-bottom: 2px solid variables.$primary-light;
  border-right: 2px solid variables.$primary-light;
}
