.item {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

$bg-item-dark: rgb(83, 83, 83);
$bg-item-light: #bbdefb;

.selectedDarkItem {
  background: $bg-item-dark;
}
.selectedLightItem {
  background: $bg-item-light;
}
.hoverDarkItem:hover {
  background: $bg-item-dark;
}
.hoverLightItem:hover {
  background: $bg-item-light;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
