.item {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

.selectedDarkItem {
  background: rgb(83, 83, 83);
}
.selectedLightItem {
  background: #bbdefb;
}
.hoverDarkItem:hover {
  background: rgb(83, 83, 83);
}
.hoverLightItem:hover {
  background: #bbdefb;
}

.selectContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}
