.container {
  padding: 0 11px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
.containerNavigate {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.button {
  background: rgb(198, 198, 198);
  padding: 0 8px;
  text-align: center;
  vertical-align: center;
  border-radius: 4px;
  font-weight: 600;
}
