.formContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 8px 0;
}
.title {
  text-align: center;
}
.selectedMaxCoins {
  text-align: center;
  color: #5d5d5d;
  margin-bottom: 4px;
}
.selectedCoins {
  text-align: center;
  color: #5d5d5d;
  margin-bottom: 24px;
}
.boxButton {
  text-align: center;
  margin: 20px 0;
}
.input {
  width: 100px;
}
.deleteButton {
  align-self: center;
  width: 28px;
  height: 28px;
}
.deleteButton:hover {
  color: red;
}
