.footer {
  padding-block: 20px;
}
.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.contentContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
}

.rowHeader {
  font-weight: 800;
  text-align: center;
  padding-bottom: 18px;
}

.personsContainer {
  display: flex;
  flex-direction: column;
}
