.mainContainer {
  width: 100%;
}

.contentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.textContainer > h2 {
  text-align: center;
}

@media screen and (min-width: 1070px) {
  .mainContainer:nth-child(odd) .contentContainer {
    flex-direction: row-reverse;
  }

  .divider {
    margin-bottom: 16px;
  }

  .contentContainer {
    align-items: center;
  }
  .contentContainer {
    gap: 50px;
  }

  .imageContainer {
    width: 50%;
  }

  .textContainer {
    width: 50%;
  }
}

@media screen and (max-width: 1070px) {
  .contentContainer {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }

  .imageContainer {
    width: 600px;
  }

  .textContainer {
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .imageContainer {
    width: 100%;
  }
}
