@use '../../styles/Variables.module.scss' as variables;

$bg-color-dark: rgba(48, 48, 48, 0.9);
$bg-color-light: rgba(255, 255, 255, 0.9);

.container {
  flex-grow: 1;
  padding-top: 30px;
  padding-bottom: 30px;
}
.darkContainer {
  background: $bg-color-dark;
}
.lightContainer {
  background: $bg-color-light;
}

.centerContainer {
  padding: 30px;
  border-radius: 8px;
}
.darkCenterContainer {
  background: $bg-color-dark;
  box-shadow: 0 0 20px rgb(215, 215, 215);
}
.lightCenterContainer {
  background: $bg-color-light;
  box-shadow: 0 0 20px rgb(45, 45, 45);
}
